@import '~@fluentui/react/dist/sass/References.scss';

//fonts
$header-font: 'Bitter', serif;
$font-size-h1: 3rem;
$font-size-body: 1.125rem;


//colors
$accent-kale: #006747;
$accent-berry: #893B67;
$accent-blueberry: #54688B;
$accent-blueberry-darker: #445574;
$system-white:#f5edf2;

//styles
.welcomeHeader {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.header {
  font-size: 48px;
  color: #006747;
}

.subtitle {
  font-size: 1.5rem;
  color: #006747;
}

h1 {
  font-family: $header-font;
  font-size: $font-size-h1;
  font-weight: 600;
  color: $accent-kale;
}